.vscode
**/.DS_Store
# dependencies
node_modules/
ML_Redo/
1_Auto-scripts/Standardized-metadata/
1_Auto-scripts/Standardized-datasets/
1_Auto-scripts/Original-Glucose-ML-datasets/
# Vite cache 
.vite/

# build output
dist/
dist-ssr/

# logs
*.log
logs/

# env
.env
.env.*
*.local

# OS/editor
.DS_Store
.vscode/
.idea/

